@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap'); 
.googleButton {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    color: #1f1f1f; /* Official text color */
    border: 1px solid #747775;
    border-radius: 4px; /* Official border radius */
    padding: 0 12px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 14px; /* Official font size */
    height: 40px;
    transition: background-color .218s, border-color .218s, box-shadow .218s;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;
    max-width: 400px;
    min-width: min-content;
  }
  .googleButton:hover {
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
  }
  .googleButton:disabled {
    cursor: default;
    background-color: #ffffff61;
    border-color: #1f1f1f1f;
  }
  .googleIcon {
    width: 20px;
    height: 20px;
    margin-right: 12px;
    background-image: url('../../public/google-icon-logo-svgrepo-com.svg'); /* Replace with your icon path */
    background-repeat: no-repeat;
    background-size: contain;
  }
  .buttonText {
    font-weight: 500;
  }